
name: run main.py

on:
  schedule:
    - cron: '0 */2 * * *'   # каждые 2 часа
  workflow_dispatch:       # ручной запуск (очень полезно)

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Execute script
        run: python main.py config.json

      - name: Commit and push files
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "GitHub Actions"
          git add -A
          git commit -m "updated streams" || echo "No changes"
          git push

